S3method("[",Coo)
S3method("[[",Coo)
S3method("names<-",Coe)
S3method("names<-",Coo)
S3method(Ptolemy,Out)
S3method(coo.align,Coo)
S3method(coo.align,default)
S3method(coo.aligncalliper,Coo)
S3method(coo.aligncalliper,default)
S3method(coo.alignxax,Coo)
S3method(coo.alignxax,default)
S3method(coo.baseline,Coo)
S3method(coo.baseline,default)
S3method(coo.bookstein,Coo)
S3method(coo.bookstein,default)
S3method(coo.center,Coo)
S3method(coo.center,default)
S3method(coo.centpos,Coo)
S3method(coo.centpos,default)
S3method(coo.close,Coo)
S3method(coo.close,default)
S3method(coo.interpolate,Coo)
S3method(coo.interpolate,default)
S3method(coo.rotate,Coo)
S3method(coo.rotate,default)
S3method(coo.rotatecenter,Coo)
S3method(coo.rotatecenter,default)
S3method(coo.sample,Coo)
S3method(coo.sample,default)
S3method(coo.samplerr,Coo)
S3method(coo.samplerr,default)
S3method(coo.scale,Coo)
S3method(coo.scale,default)
S3method(coo.slide,Coo)
S3method(coo.slide,default)
S3method(coo.smooth,Coo)
S3method(coo.smooth,default)
S3method(coo.smoothcurve,Opn)
S3method(coo.smoothcurve,default)
S3method(coo.trans,Coo)
S3method(coo.trans,default)
S3method(coo.unclose,Coo)
S3method(coo.unclose,default)
S3method(dim,Coe)
S3method(eFourier,Out)
S3method(is.closed,Coo)
S3method(is.closed,default)
S3method(length,Coo)
S3method(mshapes,OpnCoe)
S3method(mshapes,OutCoe)
S3method(mshapes,default)
S3method(names,Coe)
S3method(names,Coo)
S3method(panel,Opn)
S3method(panel,Out)
S3method(print,Opn)
S3method(print,Out)
S3method(rFourier,Out)
S3method(rawPolynomials,Opn)
S3method(str,Coe)
S3method(str,Coo)
S3method(subset,Coo)
S3method(tFourier,Out)
export(.axisnames)
export(.axisvar)
export(.chull)
export(.eigen)
export(.ellipses)
export(.frame)
export(.grid)
export(.labels)
export(.rug)
export(.stars)
export(.title)
export(Coo)
export(Opn)
export(Out)
export(Ptolemy)
export(a2l)
export(bezier)
export(bezier.i)
export(coeff.sel)
export(coeff.split)
export(col.blackgallus)
export(col.bw)
export(col.cold)
export(col.gallus)
export(col.hot)
export(col.india)
export(col.sari)
export(col.solarized)
export(col.summer)
export(col.summer2)
export(conf.ell)
export(coo.align)
export(coo.aligncalliper)
export(coo.alignxax)
export(coo.area)
export(coo.baseline)
export(coo.bookstein)
export(coo.calliper)
export(coo.centdist)
export(coo.center)
export(coo.centpos)
export(coo.centsize)
export(coo.check)
export(coo.chull)
export(coo.circularity)
export(coo.circularity.haralick)
export(coo.circularity.norm)
export(coo.close)
export(coo.convexity)
export(coo.down)
export(coo.draw)
export(coo.eccentricity.boundingbox)
export(coo.eccentricity.eigen)
export(coo.elongation)
export(coo.force2close)
export(coo.interpolate)
export(coo.ldk)
export(coo.list.panel)
export(coo.lolliplot)
export(coo.lw)
export(coo.oscillo)
export(coo.perim)
export(coo.perim.cum)
export(coo.perim.pts)
export(coo.plot)
export(coo.rectangularity)
export(coo.rectilinearity)
export(coo.rev)
export(coo.rotate)
export(coo.rotatecenter)
export(coo.sample)
export(coo.samplerr)
export(coo.scale)
export(coo.slide)
export(coo.smooth)
export(coo.smoothcurve)
export(coo.solidity)
export(coo.template)
export(coo.theta.pts)
export(coo.theta3)
export(coo.trans)
export(coo.unclose)
export(coo.up)
export(dev.plot)
export(dev.segments)
export(eFourier)
export(ed)
export(edi)
export(edm)
export(edm.nearest)
export(ef.amplify)
export(efourier)
export(efourier.i)
export(efourier.norm)
export(efourier.shape)
export(harm.pow)
export(import.Conte)
export(import.jpg)
export(import.jpg1)
export(import.txt)
export(is.closed)
export(l2a)
export(l2m)
export(lf.structure)
export(m2l)
export(mshapes)
export(panel)
export(pca2shp.efourier)
export(plot.Coo)
export(polynomials)
export(polynomials.i)
export(pos.shapes)
export(rFourier)
export(rawPolynomials)
export(rfourier)
export(rfourier.i)
export(rfourier.shape)
export(stack.Coo)
export(tFourier)
export(tfourier)
export(tfourier.i)
export(tfourier.shape)
export(tps.arr)
export(tps.grid)
export(tps.iso)
export(tps2d)
import(ape)
importFrom(MASS,ginv)
importFrom(jpeg,readJPEG)
importFrom(methods,showDefault)
importFrom(shapes,procGPA)
importFrom(sp,Polygon)
importFrom(sp,spsample)
importFrom(spdep,tri2nb)
