S3method(coo.align,Out)
S3method(coo.align,default)
S3method(coo.baseline,Out)
S3method(coo.baseline,default)
S3method(coo.bookstein,Out)
S3method(coo.bookstein,default)
S3method(coo.center,Out)
S3method(coo.center,default)
S3method(coo.centpos,Out)
S3method(coo.centpos,default)
S3method(coo.close,Out)
S3method(coo.close,default)
S3method(coo.interpolate,Out)
S3method(coo.interpolate,default)
S3method(coo.rotate,Out)
S3method(coo.rotate,default)
S3method(coo.rotatecenter,Out)
S3method(coo.rotatecenter,default)
S3method(coo.sample,Out)
S3method(coo.sample,default)
S3method(coo.samplerr,Out)
S3method(coo.samplerr,default)
S3method(coo.scale,Out)
S3method(coo.scale,default)
S3method(coo.slide,Out)
S3method(coo.slide,default)
S3method(coo.smooth,Out)
S3method(coo.smooth,default)
S3method(coo.trans,Out)
S3method(coo.trans,default)
S3method(coo.unclose,Out)
S3method(coo.unclose,default)
S3method(is.closed,Out)
S3method(is.closed,default)
export("[.Out")
export("[[.Out")
export("names<-.Out")
export(Coo)
export(Out)
export(col.blackgallus)
export(col.bw)
export(col.cold)
export(col.gallus)
export(col.hot)
export(col.india)
export(col.sari)
export(col.solarized)
export(col.summer)
export(col.summer2)
export(conf.ell)
export(coo.align)
export(coo.align.xax)
export(coo.area)
export(coo.baseline)
export(coo.bookstein)
export(coo.calliper)
export(coo.centdist)
export(coo.center)
export(coo.centpos)
export(coo.centsize)
export(coo.check)
export(coo.chull)
export(coo.circularity)
export(coo.circularity.haralick)
export(coo.circularity.norm)
export(coo.close)
export(coo.convexity)
export(coo.down)
export(coo.draw)
export(coo.eccentricity.boundingbox)
export(coo.eccentricity.eigen)
export(coo.elongation)
export(coo.force2close)
export(coo.interpolate)
export(coo.ldk)
export(coo.list.panel)
export(coo.lolliplot)
export(coo.lw)
export(coo.oscillo)
export(coo.perim)
export(coo.perim.cum)
export(coo.perim.pts)
export(coo.plot)
export(coo.rectangularity)
export(coo.rectilinearity)
export(coo.rev)
export(coo.rotate)
export(coo.rotatecenter)
export(coo.sample)
export(coo.samplerr)
export(coo.scale)
export(coo.slide)
export(coo.smooth)
export(coo.solidity)
export(coo.template)
export(coo.theta.pts)
export(coo.theta3)
export(coo.trans)
export(coo.unclose)
export(coo.up)
export(dev.plot)
export(dev.segments)
export(import.Conte)
export(import.jpg)
export(import.jpg1)
export(import.txt)
export(is.closed)
export(length.Out)
export(lf.structure)
export(names.Out)
export(panel)
export(panel.Out)
export(plot.Out)
export(print.Out)
export(stack.Out)
export(str.Out)
import(ape)
importFrom(MASS,ginv)
importFrom(jpeg,readJPEG)
importFrom(methods,showDefault)
importFrom(shapes,procGPA)
importFrom(sp,Polygon)
importFrom(sp,spsample)
importFrom(spdep,tri2nb)
