S3method(coo.align,Out)
S3method(coo.align,default)
S3method(coo.center,Out)
S3method(coo.center,default)
S3method(coo.rotate,Out)
S3method(coo.rotate,default)
S3method(coo.scale,Out)
S3method(coo.scale,default)
S3method(coo.trans,Out)
S3method(coo.trans,default)
S3method(is.closed,Out)
S3method(is.closed,default)
export("[.Out")
export("[[.Out")
export("names<-.Out")
export(Coo)
export(Out)
export(coo.align)
export(coo.center)
export(coo.check)
export(coo.rotate)
export(coo.scale)
export(coo.trans)
export(is.closed)
export(length.Out)
export(names.Out)
export(panel)
export(panel.Out)
export(plot.Out)
export(print.Out)
export(stack.Out)
export(str.Out)
